
section{
    width: 100%;
    height: 300px;
    margin:0px;
    padding:0px;
}
nav{
    display:flex;
    justify-content: space-between;
    align-items:center;
    height:60px;
    background-color:rgb(241, 229, 213);
    box-shadow: 3px rgba(0,0,0,0.1);
    padding:0px 5%;
}

nav ul{
    display: flex;
    list-style-type:none;
}

nav ul li a{
    margin: 30px;;
    color:#505050;
    font-size:15px;
    font-weight:700;
    text-decoration: none;
}
.container{
    display: flex;
    margin: auto;
    align-items: center;
    justify-content: space-evenly;
}
.text-container{
    width:700px;
    margin-bottom: 15px;
}
.text-container h3{
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-weight: bold;
    font-size: 22px;
    color:#6d6d6d;
}
.text-container p{
    font-family: calibri;
    font-weight: bold;
    font-size: 12px;
    letter-spacing:1px;
    color:#6d6d6d;
}

.text-container button{

    width: 130px;
    height:42px;
    border-radius: 10px;
    font-family: calibri;
    font-weight: bold;
    font-size: 14px;
    outline:none;
    margin:0px 10px;
}
.btn-primary{
    cursor: pointer;
    border:2px solid rgb(32, 31, 30);
    color:rgb(241, 199, 144);
}

.btn-secondary{
    cursor: pointer;
    background-color:rgb(226, 199, 164);
    color: #FFFFFF;
    border:none;
}
button:active{
    transform: scale(1.1);
}
.img-container{
    margin-top:20px;
    margin-bottom:20px;
}

h3{
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-weight: bold;
    font-size: 18px;
    color:#6d6d6d;
    text-align: center;
}

.project-container{
    width:100%;
    height: 360px;
    background-color:rgb(241, 229, 213);
    margin-top:30px;
    align-items: center;
    display: flex;
    justify-content:space-evenly;
    margin-bottom: 15px;
    
}

.project-container .project-1{
    height:180px;
    width:300px;
    background-color:#FFFFFF;
    align-items: center;
    text-align: center;
    border-radius: 2px solid rgb(241, 213, 176)
    
}

.project-container .project-1 h5{
    font-family:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif ;
    font-weight: bold;
    font-size: 15px;
    color:#6d6d6d;
    text-align: center;
}
.project-container .project-1 p{
    font-family: calibri;
    font-weight: bold;
    font-size: 12px;
    letter-spacing:1px;
    color:#6d6d6d;
    text-align: center;
}
.project-container .project-1 .btn-demo {
    cursor: pointer;
    background-color:rgb(241, 207, 161);
    border-radius: 10px;
    color: #FFFFFF;
}

.sklill-container{
    width:100%;
    height: 270px;
    margin-top:5px;
    display: flex;
    justify-content:space-evenly;
    margin-bottom: 15px;
}

.sklill-container ul li{
    font-family: Arial, Helvetica, sans-serif;
    font-weight: bold;
    font-size: 28px;
    letter-spacing:1px;
    color:#141313;
    margin-top: 5px;
    margin-bottom: 15px;
}

.contactme-container{
    width:100%;
    height:300px;
    background-color:rgb(241, 229, 213);
    margin-top:5px;
    display: flex;
    flex-direction: column;
    justify-content:space-evenly;
    margin-bottom: 15px;
    align-items: center;
}
.contactme-container .contactme h5{
    margin-top:10px;
    font-family:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif ;
    font-weight: bold;
    font-size: 15px;
    color:#6d6d6d;
    text-align: center;
}

.contactme-container .contactme-img img{
    height:50px;
    width:50px;
    margin:auto
}